.card {
    padding: 17px;
    background-color: coral;
    /* margin-bottom: 20px; */
    border-radius: 10px;
    margin: 23%;
}
img.card-img-top {
    height: 200px;
    margin-top: 25px;
  }
.col {
    margin: 20px;
    padding: 20px;
}

element.style {
    width: 18rem;
    border-radius: 10px;
}